
  .found {
    background-image: url('https://wallpapers.com/images/hd/dark-theme-background-8xlni5mkdutatc7r.jpg');
    // background-image: url(../../../assets/imgs/IntiPaz2023.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    // background-size: contain;
  }
// nb-layout-column  {
//     margin: 0;
//     padding: 0;
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

.alings  {
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.found2 {
  background-image: url('https://m.media-amazon.com/images/I/81bTTNTM61L._UF894,1000_QL80_.jpg');
  // background-image: url(../../../assets/imgs/IntiPaz2023.png);
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-position: center;
  background-size: cover;
  object-fit: cover;
  // background-size: contain;
}
