// .abs-center {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     min-height: 100vh;
//   }
  .found {
    // background: linear-gradient(#2aa1c2, #174551, #063b49, #000f13);
    background-image: url('https://img.freepik.com/fotos-premium/imagen-generativa-ia-artesanias-papel-origami-colorido-espacio-blanco-sobre-fondo-madera_467541-3340.jpg');
    // background-image: url(../../../assets/imgs/IntiPaz2023.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    // background-size: contain;
  }
//   .card-found {
//     background-image: url('https://fondosmil.com/fondo/47987.jpg');
//   }
  // ::ng-deep :root {
  //     overflow-y: hidden;
  //     overflow-x: hidden;
  // }
nb-layout-column  {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
