<nb-card class="scrollModal" style="width: 900px;" [nbSpinner]="loading" status="primary">
  <nb-card-header style="position: relative;">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center gap-2">
        <nb-icon icon="shopping-cart-outline" status="success"></nb-icon>
        <span>MI VENTA</span>
      </div>

      <div class="d-flex align-items-center gap-2">
        <nb-tag
          class="tag-compact"
          [text]="getStatus(sale?.status)?.name"
          [status]="getStatus(sale?.status)?.color">
        </nb-tag>

        <button nbButton outline status="basic" size="tiny" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="card shadow-sm px-3 py-2">
      <div class="row align-items-top g-2">
        <!-- CLIENTE -->
        <div class="col-md-6">
          <div class="d-flex flex-column">
            <small class="text-muted">Cliente</small>
            <span class="fw-semibold text-truncate">
              {{ sale?.customer.fullname || '-' }}
            </span>
            <small class="text-muted text-truncate">
              {{ sale?.customer.address || '-' }}
            </small>
            <small class="text-muted text-truncate">
              {{ sale?.customer.document || '-' }}
            </small>
          </div>
        </div>
        <!-- INFO VENTA -->
        <div class="col-md-3">
          <div class="d-flex flex-column">
            <small class="text-muted">Orden de Pedido</small>
            <span class="fw-semibold text-truncate">
              {{ sale?.code }}
            </span>
            <small class="text-muted text-truncate">
              {{ sale?.created_at | date: 'dd/MM/yyyy' }}
            </small>
          </div>
        </div>

        <div class="col-md-3">
          <div class="d-flex flex-column">
            <small class="text-muted">Tipo de pago</small>
            <nb-select placeholder="Pago" size="tiny"
                       [(ngModel)]="sale.pay_method"
                       [disabled]="sale?.status === 'PROCESSED'">
              <nb-option *ngFor="let item of typePay" [value]="item.code">
                {{ item.name }}
              </nb-option>
            </nb-select>
          </div>
        </div>
      </div>
    </div>

    <hr class="my-2">
    <nb-card status="info">
      <nb-card-header class="d-flex align-items-center justify-content-between">
        <strong>
          DETALLE DE VENTA <span class="sale-code-badge-light">{{ sale.code }}</span>
        </strong>
      </nb-card-header>
      <nb-card-body>
        <div class="nb-scrollbars">
          <table class="lb-table lb-table-border-inside">
            <thead>
            <tr style="font-size: 12px !important;">
              <th scope="col" data-label="#">#</th>
              <th scope="col" data-label="Código">Código</th>
              <th scope="col" data-label="Nombre">Nombre</th>
              <th scope="col" data-label="Medida">Medida</th>
              <th scope="col" data-label="Cantidad" class="text-center">Cantidad</th>
              <th scope="col" data-label="Precio" style="text-align: right;">P. Unitario</th>
              <th scope="col" data-label="Sub Total" style="text-align: right;">Importe</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of sale?.details; let i = index" style="font-size: 10px;">
              <td>{{ i + 1 }}</td>
              <td>{{ item.product?.code_original || item.product?.code }}</td>
              <td>{{ item.product?.category?.name + ' - ' + item.product?.name }}</td>
              <td>{{ item.product?.measure }}</td>
              <td class="text-center">{{ item.amount }}</td>
              <td style="text-align: right;">{{ item.price | currency: ' ' }}</td>
              <td style="text-align: right;">{{ item.price_total  | currency: ' ' }}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr *ngIf="sale?.partial_pay > 0">
              <th style="text-align: right;" colspan="6">Total</th>
              <th style="text-align: right;">{{ sale?.price_total | currency: ' ' }}</th>
            </tr>
            <tr *ngIf="sale?.partial_pay > 0">
              <th style="text-align: right;" colspan="6">Anticipo</th>
              <th style="text-align: right;">{{ sale?.partial_pay | currency: ' ' }}</th>
            </tr>
            <tr>
              <th style="text-align: right;" colspan="6">Importe Total</th>
              <th style="text-align: right;">{{ (sale?.price_total - sale?.partial_pay) | currency: ' ' }}</th>
            </tr>
            </tfoot>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
    <div *ngIf="sale?.note">
      <span class="fw-semibold text-truncate">Nota: </span>
      <small class="text-muted">{{ sale?.note }}</small>
    </div>
  </nb-card-body>
  <nb-card-footer class="text-center">
    <button nbButton size="small" status="info" (click)="generatePdf('VIEW')" [disabled]="!sale">Ver doc.
      <nb-icon icon="eye"></nb-icon>
    </button>&nbsp;
    <button nbButton size="small" status="success" (click)="generatePdf('DOWNLOAD')" [disabled]="!sale">Descargar doc.
      <nb-icon icon="download"></nb-icon>
    </button>&nbsp;
    <span *ngIf="sale?.status !== 'PROCESSED'">
<!--      <button nbButton size="small" status="danger" (click)="finishSale('CANCELED')">Anular-->
<!--        <nb-icon icon="close-circle-outline"></nb-icon>-->
<!--      </button>&nbsp;-->
      <button nbButton size="small" status="primary" (click)="editSale()">Editar<nb-icon icon="edit"></nb-icon></button>&nbsp;
      <button nbButton size="small" status="primary" (click)="finishSale('PROCESSED')"
              [disabled]="sale.pay_method === 'NONE'">Finalizar venta<nb-icon icon="save"></nb-icon></button>
    </span>

  </nb-card-footer>
</nb-card>
