<nb-card [nbSpinner]="loading"status="basic">
  <nb-card-header>
      <nb-icon icon="save" status="success"></nb-icon>LÍNEA DE PRODUCTOS
  </nb-card-header>
  <nb-card-body style="padding-right: 0px !important;padding-left: 0px !important;">
    <nb-tabset >
      <nb-tab tabTitle="Registrar" tabIcon="shopping-bag-outline">
        <div>
          <div>
            <form [formGroup]="formHeaders">
              <div class="row">
                  <div class="col-md-5"></div>
                  <div class="col-md-5">
                    <nb-form-field>
                      <input type="text" nbInput fieldSize="small" fullWidth formControlName="search" placeholder="Buscar">
                      <button nbSuffix nbButton fullWidth size="small" status="warning" (click)="filters()"><nb-icon icon="search"></nb-icon></button>
                    </nb-form-field>
                  </div>
                  <div class="col-md-2">
                    <button nbButton fullWidth size="small" status="primary" (click)="openModal('NEW', '')">Añadir</button>
                  </div>
              </div>
          </form>
          </div>
          <hr>
          <div class="nb-scrollbars">
            <table class="lb-table lb-table-border-inside lb-table-striped">
                <thead>
                    <tr>
                        <th scope="col" data-label="#">#</th>
                        <th scope="col" data-label="Código">Código Imp</th>
                        <th scope="col" data-label="Código">Código</th>
                        <th scope="col" data-label="Nombre">Nombre</th>
                        <th scope="col" data-label="Descripción">Descripción</th>
                        <th scope="col" data-label="Costo">Costo</th>
                        <th scope="col" data-label="Precio">Precio</th>
                        <!-- <th>Cantidad</th> -->
                        <th scope="col" data-label="Stock" class="text-center">Stock</th>
                        <th scope="col" data-label="OPC" colspan="2" style="width: 1px;">OPCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of products; let i = index">
                        <td data-label="#">{{i+1}}</td>
                        <td>{{item.code_original}}</td>
                        <td>{{item.code}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.cost_pen | currency: ' '}}</td>
                        <td>{{(item.price_pen !== null) ? (item.price_pen | currency: ' ') : item.price_pen_ref  | currency: ' '}}</td>
                        <!-- <td>{{item?.quantity}}</td> -->
                        <td class="text-center">{{item?.in_stock}}</td>
                        <td><button nbButton size="tiny" fullWidth status="info" (click)="openModal('UPDATE',item)">
                          <nb-icon icon="edit-outline"></nb-icon></button></td>
                        <td><button nbButton size="tiny" fullWidth status="danger" (click)="onDelete(item)">
                          <nb-icon icon="trash-outline"></nb-icon></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div class="row g-1 row-cols-1 row-cols-lg-3 align-items-center" *ngIf="products?.length>0">
          <div class="col">
              <app-pagination-per [total]="paginate.total" [perPageDefault]="paginate.perPage"
                  [currentPerPage]="paginate.perPage" (changePerPage)="changePerPage($event)"></app-pagination-per>
          </div>
          <div class="col">
              <app-pagination [formControl]="page" [paginationOptions]="paginate"
                  (changePagePagination)="changePagePaginations($event)"></app-pagination>
          </div>
          <div class="col">
              <app-pagination-detail [paginationDetailOptions]="paginate"></app-pagination-detail>
          </div>
      </div>

        </div>
      </nb-tab>
      <nb-tab tabTitle="Estokear" tabIcon="shopping-bag-outline" style="padding: 5px;">
        <art-v-stock-product></art-v-stock-product>
      </nb-tab>
    </nb-tabset>

  </nb-card-body>
  <nb-card-footer>

  </nb-card-footer>
</nb-card>
<!-- <div class="card">
    <div class="card-header">
        <nb-icon icon="save" status="success"></nb-icon>  PRODUCTOS
    </div>
    <div class="card-body">
        <div class="teble-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of products; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{item.code}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item?.price}}</td>
                        <td>{{item?.quantity}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer"></div>
  </div> -->
