<nb-card  class="scrollModal" style="width: 700px;" [nbSpinner]="loading">
  <nb-card-header style="position: relative;">
      <div class="d-flex align-items-center justify-content-between">
          <div>
              <nb-icon icon="shopping-cart-outline" status="success"></nb-icon>MI VENTA
          </div>
          <button nbButton outline  status="basic" size="tiny" (click)="closeModal()" >
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <br>
      <nb-badge [text]="getStatus(sale?.status)?.name" [status]="getStatus(sale?.status)?.color" position="bottom end"></nb-badge>
  </nb-card-header>
  <nb-card-body>
    <div>
      <label class="label">Cliente:&nbsp;&nbsp;</label> <strong>{{sale?.client_name}}</strong>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <label class="label">Procedencia:&nbsp;&nbsp;</label> <strong>{{sale?.client_place}}</strong>
      </div>
      <div class="col-md-6">
        <label class="label">Fecha:&nbsp;&nbsp;</label> <strong>{{sale?.created_at | date: 'dd/MM/yyyy HH:mm:ss'}}</strong>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <label class="label">Tipo de pago:&nbsp;&nbsp;</label> <strong>{{getTypePays(sale?.pay_type)}}</strong>
      </div>
      <div class="col-md-6">
        <label class="label">Total:&nbsp;&nbsp;</label> <strong>{{sale?.price_total | currency: ' '}}</strong>
      </div>
    </div>
    <br>
    <nb-card status="info">
      <nb-card-header class="d-flex align-items-center justify-content-between">
        <strong>
          DETALLE DE VENTA
        </strong>
        <span>
          <!-- <button nbButton size="tiny" status="warning" (click)="generatePdf()" [disabled]="carrito?.length<=0">Pdf</button> -->
        </span>
      </nb-card-header>
      <nb-card-body>
          <div class="teble-responsive">
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th>#</th>
                          <!-- <th>Código</th> -->
                          <th>Nombre</th>
                          <!-- <th style="width: 1px;">Tipo</th> -->
                          <!-- <th style="width: 1px;">Medida</th> -->
                          <th style="text-align: right;">Precio</th>
                          <th class="text-center">Cantidad</th>
                          <th style="text-align: right;">Sub. Total</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of sale?.details; let i = index" style="font-size: 10px; font-weight: bold;">
                          <td>{{i+1}}</td>
                          <!-- <td>{{item.code || item.code_original}}</td> -->
                          <td>{{item.product_id}}</td>
                          <!-- <td>{{item.type_name}}</td> -->
                          <!-- <td>{{item.measure}}</td> -->
                          <td style="text-align: right;">{{item.price | currency: ' '}}</td>
                          <td class="text-center">{{item.amount}}</td>
                          <td style="text-align: right;">{{item.price_total  | currency: ' '}}</td>
                      </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th colspan="4"></th>
                      <th style="text-align: right;">{{sale?.price_total | currency: ' '}}</th>
                    </tr>
                  </tfoot>
              </table>
          </div>
      </nb-card-body>
  </nb-card>
  </nb-card-body>
  <nb-card-footer class="text-center">
    <button nbButton size="small" status="info" (click)="generatePdf('VIEW')" [disabled]="!sale">Ver doc.<nb-icon icon="eye"></nb-icon></button>&nbsp;
    <button nbButton size="small" status="success" (click)="generatePdf('DOWNLOAD')" [disabled]="!sale">Descargar doc.<nb-icon icon="download"></nb-icon></button>
    <span *ngIf="sale?.status === 'pending'">
      &nbsp;<button nbButton size="small" status="danger" (click)="finishSale('canceled')">Anular<nb-icon icon="close-circle-outline"></nb-icon></button>&nbsp;
      <button nbButton size="small" status="primary" (click)="editSale()">Editar<nb-icon icon="edit"></nb-icon></button>&nbsp;
      <button nbButton size="small" status="primary" (click)="finishSale('processed')">Registrar<nb-icon icon="save"></nb-icon></button>
    </span>

  </nb-card-footer>
</nb-card>
