<nb-card [nbSpinner]="loading" status="basic">
    <nb-card-header>
        <nb-icon icon="save" status="success"></nb-icon>  VENTA DE PRODUCTOS
    </nb-card-header>
    <nb-card-body style="max-height: 90vh; padding-right: 0px !important;padding-left: 0px !important;">
        <nb-tabset (changeTab)="tabChange($event)">
            <nb-tab tabTitle="Vender" [active]="tabSelected === 'VENDER'" [tabId]="'VENDER'" [tabIcon]="'car-outline'">
                <div class="row">
                    <div class="col-md-8">
                        <label class="label">Buscar producto: </label><br>
                        <div class="row">
                            <div class="col-md-9">
                                <input autofocus [formControl]="formHeaders.controls['name_producto']" nbInput fullWidth fieldSize="medium" type="text" (keydown.enter)="enterProducts()"
                                class="user_avatar" placeholder="Buscar producto"
                                [nbAutocomplete]="complete" (input)="inputKeyAutocomplete($event)" />
                            </div>
                            <div class="col-md-3">
                                <button nbButton size="medium" status="warning" fullWidth (click)="filters()" [disabled]="!formHeaders.value.name_producto">
                                    <nb-icon  icon="search-outline" pack="eva"></nb-icon> Buscar
                                </button>
                            </div>
                        </div>
                        <nb-autocomplete #complete size="medium">
                            <nb-option *ngFor="let option of products$" [value]="option.name"
                                (click)="changeAutocomplete(option)" [ngStyle]="colorAutocompleteSelect(option)" class="hovered">
                                {{option?.code_original}}  ({{option?.ode}}): {{option?.name}} - {{option?.size}} ({{option?.measure}})
                                <!-- {{option.code || option.code_original}} : {{ option.name }} <br> ( {{option.type_name}} ) - {{option.size}} -->
                            </nb-option>
                        </nb-autocomplete>
                        <hr>
                        <nb-card status="info">
                            <nb-card-header class="d-flex align-items-center justify-content-between">
                              <strong>
                                DETALLE DE VENTA
                              </strong>
                              <span>
                                <!-- <button nbButton size="tiny" status="warning" (click)="generatePdf()" [disabled]="carrito?.length<=0">Pdf</button> -->
                              </span>
                            </nb-card-header>
                            <nb-card-body>
                                <div class="nb-scrollbars">
                                    <table class="lb-table lb-table-border-inside">
                                        <thead>
                                            <tr style="font-size: 12px !important;">
                                                <th scope="col" data-label="#">#</th>
                                                <th scope="col" data-label="Código">Código</th>
                                                <th scope="col" data-label="Nombre">Nombre</th>
                                                <th scope="col" data-label="Tipo" style="width: 1px;">Tipo</th>
                                                <th scope="col" data-label="Medida">Medida</th>
                                                <th scope="col" data-label="Precio" tyle="width: 140px;">Precio</th>
                                                <th scope="col" data-label="Cantidad" style="width: 170px;">Cantidad</th>
                                                <th scope="col" data-label="OPC.">OPC</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of carrito; let i = index" style="font-size: 10px; font-weight: bold;">
                                                <td data-label="#">{{i+1}}</td>
                                                <td>{{item.code || item.code_original}}</td>
                                                <td>{{item.name}}</td>
                                                <td>{{item.type_name}}</td>
                                                <td>{{item.measure}}</td>
                                                <td class="text-center">
                                                    <input type="number" style="width: 150px;" class="text-center" nbInput fullWidth fieldSize="small" [(ngModel)]="item.cost_pen" (input)="changeBlur()">
                                                    <!-- {{(item.cost_pen !== null) ? (item.cost_pen | currency: ' ') : item.cost_pen_ref  | currency: ' '}} -->
                                                </td>
                                                <td class="text-center">
                                                    <nb-form-field>
                                                        <button nbPrefix nbButton size="small" status="danger" (click)="changeCantidad('MINUS', item)" [disabled]="item.quantity<1">
                                                            <nb-icon  icon="minus-outline" pack="eva"></nb-icon></button>
                                                        <input type="text" style="width: 170px;" class="text-center" nbInput fullWidth fieldSize="small" [(ngModel)]="item.quantity" (input)="changeBlur()">
                                                        <button nbSuffix nbButton size="small" status="success" (click)="changeCantidad('PLUS', item)">
                                                            <nb-icon nbPrefix icon="plus-outline" pack="eva"></nb-icon></button>
                                                      </nb-form-field>
                                                </td>
                                                <td>
                                                    <button nbButton size="tiny" fullWidth status="danger" (click)="deleteCarr(item, i)">
                                                        <nb-icon icon="trash-outline"></nb-icon>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </nb-card-body>
                        </nb-card>
                    </div>
                        <div class="col-md-4">
                            <nb-card status="success">
                                <nb-card-header>
                                    RESUMEN DE VENTA
                                </nb-card-header>
                                <nb-card-body>
                                    <form [formGroup]="formHeaders">
                                        <div class="row">
                                            <label class="label col-md-3">Total parcial:</label>
                                            <div class="col-md-9" style="text-align: right; font-size: 15px; font-weight: bold;">
                                                S/. {{formHeaders.value.price_parcial | currency: ' '}}
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <label class="label col-md-3">Gastos envío:</label>
                                            <div class="col-md-9" style="text-align: right; font-size: 15px; font-weight: bold;">
                                                S/. {{formHeaders.value.gasto_envio | currency: ' '}}
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <label class="label col-md-3">Total estimado:</label>
                                            <div class="col-md-9" style="text-align: right; font-size: 20px; font-weight: bold;">
                                                S/. {{formHeaders.value.price_total | currency: ' '}}
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="label">Paga con:</label><br>
                                                <div>
                                                    <input type="number" status="success" class="text-center" nbInput fieldSize="medium" fullWidth formControlName="pay" placeholder="Paga" (input)="inputPay()">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="label" [ngStyle]="{'color': formHeaders.value.turned>=0 ? '': 'red'}">{{formHeaders.value.turned>=0 ? 'Vuelto': 'Falta pagar'}}:</label><br>
                                                <div>
                                                    <input type="number" status="success" class="text-center" nbInput fieldSize="medium" fullWidth formControlName="turned" placeholder="Vuelto" [readOnly]="true" style="color: red;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="label">Fecha:</label><br>
                                                <div>
                                                    <nb-datepicker #fecha format="dd/MM/yyyy"></nb-datepicker>
                                                    <input type="text" nbInput fieldSize="small" fullWidth formControlName="date" placeholder="Nombre cliente" [nbDatepicker]="fecha">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="label">Cliente:</label><br>
                                                <div >
                                                    <input type="text" nbInput fieldSize="small" fullWidth formControlName="client_name" placeholder="Nombre cliente">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="label">Procedéncia:</label><br>
                                                <div>
                                                    <input type="text" nbInput fieldSize="small" fullWidth formControlName="client_place" placeholder="Lugar">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="label">Tipo de pago:</label><br>
                                                <div>
                                                    <nb-select placeholder="Tipo" size="small" fullWidth formControlName="pay_type">
                                                        <nb-option value="">Ninguno</nb-option>
                                                        <nb-option *ngFor="let item of typePay" [value]="item.id">{{item.name}}</nb-option>
                                                    </nb-select>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </nb-card-body>
                                <nb-card-footer>
                                    <div class="text-center row" *ngIf="!formHeaders.value._id_venta">
                                        <div class="col-md-6">
                                          <button  nbButton size="small" status="warning" fullWidth
                                          [disabled]="carrito.length<=0 || formHeaders.invalid" (click)="saveSales('pending')">Guardar proforma</button>
                                        </div>
                                        <div class="col-md-6">
                                          <button class="col-md-6" nbButton size="small" status="success" fullWidth
                                          [disabled]="carrito.length<=0 || formHeaders.invalid" (click)="saveSales('processed')">Registrar venta</button>
                                        </div>
                                    </div>
                                    <div class="text-center row" *ngIf="formHeaders.value._id_venta">
                                      <div class="col-md-6">
                                        <button class="col-md-6" nbButton size="small" status="warning" fullWidth
                                        [disabled]="carrito.length<=0 || formHeaders.invalid" (click)="updateSales('pending')">Guardar proforma</button>
                                      </div>
                                      <div class="col-md-6">
                                        <button class="col-md-6" nbButton size="small" status="success" fullWidth
                                        [disabled]="carrito.length<=0 || formHeaders.invalid" (click)="updateSales('processed')">Registrar venta</button>
                                      </div>
                                    </div>
                                </nb-card-footer>
                            </nb-card>
                        </div>
                   </div>

            </nb-tab>
            <nb-tab tabTitle="Mis ventas" [active]="tabSelected === 'VENTAS'" [tabId]="'VENTAS'" [tabIcon]="'activity-outline'">
                <div *ngIf="!loading">
                    <art-v-my-sales (editSale)="saleEdit($event)"></art-v-my-sales>
                </div>
            </nb-tab>
      </nb-tabset>

    </nb-card-body>
</nb-card>
