<div class="d-flex flex-row flex-wrap gap-1 justify-content-lg-center align-items-center">
  <div>
    <button nbButton size="small" hero (click)="changePage(paginationOptions?.previousPage)"
            [disabled]="!paginationOptions?.previousPage">
      <nb-icon icon="arrow-ios-back-outline" [status]="paginationOptions?.previousPage ?'primary':'basic'"></nb-icon>
    </button>
  </div>
  <div *ngFor="let item of createPageArray(currentPage, paginationOptions?.pages, 6)">
    <button nbButton size="small" hero [value]="item.value"
            (click)="changePage(item.value)"
            [status]="item.value === currentPage?'primary':'basic'">
      {{item.label}}
    </button>
  </div>
  <div>
    <button nbButton size="small" hero (click)="changePage(paginationOptions?.nextPage)"
            [disabled]="!paginationOptions?.nextPage">
      <nb-icon icon="arrow-ios-forward-outline" [status]="paginationOptions?.nextPage ?'primary':'basic'"></nb-icon>
    </button>
  </div>
</div>
