    <div>
        <strong style="font-size: 12px;">{{page}}-{{to}} de {{total}}</strong>&nbsp;&nbsp;
        <span>
            <button nbButton size="tiny" shape="round" ghost status="info" [disabled]="current_page === 1" (click)="back(current_page)">
                <nb-icon icon="arrow-ios-back-outline"></nb-icon> {{textButon ? 'Atras' : ''}}
            </button>&nbsp;
            <button nbButton size="tiny" shape="round" ghost status="info" [disabled]="current_page === last_page" (click)="next(current_page)">
                {{textButon ? 'Siguiente' : ''}} <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
            </button>
        </span>
        
    </div>