<nb-card [nbSpinner]="loading"status="basic">
  <nb-card-header >
      <nb-icon icon="save" status="success"></nb-icon>MARCAS
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-10"></div>
      <div class="col-md-2">
        <button nbButton size="small" status="primary" fullWidth (click)="openBrand('', 'NEW')">Crear</button>
      </div>
    </div>
    <hr>
    <div class="nb-scrollbars">
      <table class="lb-table lb-table-border-inside lb-table-striped">
          <thead>
              <tr>
                  <th scope="col" data-label="#">#</th>
                  <th scope="col" data-label="Nombre">Nombre</th>
                  <th scope="col" data-label="Creado">Creado</th>
                  <th scope="col" data-label="Usuario">Usuario</th>
                  <th scope="col" data-label="Estado">Estado</th>
                  <th scope="col" data-label="opc" colspan="2" style="width: 1px;">OPC.</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of brands; let i = index">
                  <td data-label="#">{{i+1}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.created_at | date: 'dd/MM/yyyy hh:mm:ss a'}}</td>
                  <td>{{item.created_user}}</td>
                  <td>
                    <nb-icon [icon]="item.enabled ? 'checkmark-square-2-outline' : 'alert-triangle-outline'" [status]="item.enabled ? 'success' : 'danger'"></nb-icon>
                  </td>
                  <td style="width: 1px;"><button nbButton size="tiny" fullWidth status="info" (click)="openBrand(item, 'UPDATE')"><nb-icon icon="edit-outline"></nb-icon></button></td>
                  <td style="width: 1px;"><button nbButton size="tiny" fullWidth status="danger" (click)="onDelete(item)"><nb-icon icon="trash-outline"></nb-icon></button></td>
              </tr>
          </tbody>
      </table>
  </div>
  </nb-card-body>
</nb-card>
